<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trendyol veya Hepsiburada ürünlerinizin yorumlarını analiz etmenin en kolay yolu.">
    <meta name="keywords" content="yorum analizi, ürün yorumu, Trendyol, Hepsiburada, sentiment analizi">
    <meta name="author" content="Mümin">
    <meta name="theme-color" content="#000000">
    <title>{% block sayfa_basligi %}{% endblock sayfa_basligi %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', path='/images/logo.png')}}">
</head>
<body>
    <main>
    {% block icerik %}{% endblock icerik %}
    </main>
    {% block js %}{% endblock js %}
</body>
</html>